.listProfil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
    margin-top: 2rem;
}

.title {
    margin: 1rem 0;
}

.MuiCard-root {
    overflow: hidden;
    width: 45%;
    margin-bottom: 2rem;
}
